#root {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 60px 1fr;

  grid-template-areas: 
      "topbar topbar topbar"
      "left main right";
}

main {
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 560px;
  overflow-y: scroll;
  justify-content: flex-start;
}

main a {
  text-decoration: none;
}

.banner {
  width: 100%;
  aspect-ratio: 16 / 2.5;
  position: relative;
}

.bannerMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.bannerImg {
  width: 100%;
  aspect-ratio: 16 / 2.5;
}

.banner small {
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 0.8rem
}

.online {
  background-color: cornflowerblue;
  height: 7px;
  width: 7px;
  border-radius: 50px;
  position: absolute;
  bottom: 17px;
  right: 68px;

}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 110px 240px 260px;
  row-gap: 20px;
  column-gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: fit-content;
}

.notice {
  grid-column: 2/4;
  grid-row: 1/2;
}

.todo {
  grid-column: 2/3;
  grid-row: 2/3;
}

.minutes {
  grid-column: 3/4;
  grid-row: 2/3;
}

.report {
  grid-column: 2/4;
  grid-row: 3/4;
  min-height: 260px;
  height: fit-content;
  padding-bottom: 20px;
}

.title {
  margin-top: 13px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.title .row {
  display: flex;
  align-items: center;
}

.title .detail {
  margin-left: auto;
  margin-right: 15px;
  font-size: 0.8rem;
  color: #181F29;
  font-weight: 400;
  text-decoration: none;
}

.title img {
  margin-right: 10px;
}

.detail img {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.noticeContent {
  background-color: #F9F9F9;
  width: 96%;
  margin: 0 auto;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 5px solid #F7A2A2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.noticeInfo, .todoInfo, .minutesInfo {
  font-size: 0.7rem;
  color: gray;
}

.todoContent, .minutesContent {
  width: 93%;
  margin: 0 auto;
  height: 40px;
  border-top: 5px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.report small {
  margin-left: 15px;
}

.dropdown {
  background-color: white;
  width: 155px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  list-style: none;
  padding: 0px;
  border: 0.5px solid black;
  position: absolute;
  right: 35px;
  top: 20px;
  margin: 0px;
  display: none;
  z-index: 1;
}

.dropdown li {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
  font-size: 0.7rem;
  color: black;
  padding-left: 10px;
}

.dropdown li:last-child {
    border: 0px solid black;
}

.dropdown a {
  font-size: 0.7rem;
  color: black;
}

.dropdownIcon {
    position: static !important;
    margin: auto 0;
}

.dropdown span {
    margin-left: 5px;
}

.dropdown.show {
  display: block;
} 

.content {
  display: flex;
  justify-content: space-evenly;
}

.col {
  width: 30%;
}

.reportBox {
  background-color: #F5F5F5;
  width: 100%;
  min-height: 35px;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

.reportBoxContent {
  padding: 7px;
  background-color: #F5F5F5;
  width: 60%;
  height: 135px;
  margin-top: 20px;
  overflow: hidden;
}

.reportBoxContent.reportShow {
  overflow: visible;
  height: fit-content;
  min-height: 135px;
}

.shortTitle {
  font-weight: 600;
}