.container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

:global(body.dark) .container {
    background-color: #121212;
}

.welcomeMessage {
    color: #181F29;
    transition: color 0.3s;
}

:global(body.dark) .welcomeMessage {
    color: #e0e0e0;
}