.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    height: 40px;
    width:130px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    height: 60px;
    width:180px;
    border-radius: 15px;
}

.title img {
    cursor: pointer;
}

.thisMonth {
    color: #0053FF;
    display: inline-block;
    margin: 0px;
}