.modalBackground {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
  background-color: white;
  width: 400px;
  max-height: 80vh;
  height: 200px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 40px;
  box-sizing: border-box;
  gap: 10px;
  overflow-y: auto;
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modalContent h3 {
    font-weight: 700;
}

.modalContent h4 {
    color: #7A7A7A;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 30px;
}

.no, .yes {
    width: 80px;
    height: 30px;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.no {
    background-color: #F30000;
}

.no:hover {
    background-color: #db0000;
}

.yes {
    background-color: #4A85FF
}

.yes:hover {
    background-color: #3578fe;
}