.modalBackground {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.modalContent {
    background-color: white;
    width: 400px;
    max-height: 80vh;
    height: 540px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    box-sizing: border-box;
    overflow-y: auto;
}
  
.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
  
.top {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox span {
  color: red;
}

.inputBox small {
  font-weight: 600;
  margin: 0px;
}

.inputBox input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.inputBox input:focus {
  outline: none;
}

.letter {
  font-weight: 500 !important;
  align-self: flex-end;
  font-size: x-small;
}

.create {
    width: 100px;
    height: 30px;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: #4A85FF;
    align-self: center;
    margin-top: 20px;
    flex-shrink: 0;
}

.create:hover, .uploadBtn:hover {
    background-color: #3578fe;
}

.imgContainer {
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.inputImg {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputImg small {
    font-size: x-small;
}

.logoContainer {
    border: 1px dotted rgb(190, 190, 190);
    height: 100px;
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
}

.uploadBtn {
    width: 70px;
    height: 25px;
    border: 0px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    background-color: #4A85FF;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 3px;
    flex-shrink: 0;
}

.bannerContainer {
    border: 1px dotted rgb(190, 190, 190);
    aspect-ratio: 16 / 2.5;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.logoContainer img,
.bannerContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}