.modalBackground {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
  background-color: white;
  width: 400px;
  max-height: 80vh;
  height: 60%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  box-sizing: border-box;
  gap: 10px;
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modalContent h3 {
    font-weight: 700;
}

.applyContainer {
    border-top: 3px solid #CCCCCC;
    width: 90%;
    height: 85%;
    overflow-y: scroll;
}

.apply {
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileImg {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

.check {
    width: 100px;
    height: 25px;
    border: 0px solid black;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: #4A85FF;
    cursor: pointer;
}