.modalBackground {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    width: 350px;
    height: 360px;
    position: relative;
    padding: 30px 40px;
}

.modalContent svg {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modalContent h3 {
    margin: 0px;
}

.modalContent form {
    display: flex;
    flex-direction: column;
}

.inputArea {
    display: flex;
    flex-direction: column;
}

.inputArea label {
    font-size: 0.9rem;
    margin-bottom: 3px;
    font-weight: 600;
}

.inputArea input, textarea {
    height: 30px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding-left: 10px;
    font-family: inherit;
}

textarea {
    resize: none;
    height: 100px;
    padding: 10px;
    
}

.inputArea small {
    font-size: 0.6rem;
    margin-left: auto;
    font-weight: 600;
    margin-top: 2px
}

.palette {
    display: flex;
    align-items: center;
    gap: 5px;
}

.palette div {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.buttons {
    align-self: flex-end;
}

.delete, .create {
    width: 90px;
    height: 35px;
    margin-top: 20px;
    font-size: 0.85rem;
    border-radius: 8px;
    border: 0px solid black;
}

.delete {
    margin-right: 10px;
    color: white;
    background-color: #F30000;
}

.delete:hover {
    background-color: #e01010;
}

.create {
    background-color: #4A85FF;
    color: white;
}

.create:hover {
    background-color: #397bfe;
}