.modalBackground {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    width: 320px;
    height: 200px;
    position: relative;
    padding: 30px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.modalContent img {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modalContent h3 {
    font-weight: 700;
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.inputBox small {
    align-self: flex-start;
    margin-left: 15px;
    font-weight: 600;
    font-size:smaller;
    margin-bottom: 1px;
}

.inputBox input {
    width: 90%;
    height: 30px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding-left: 10px;
}