/* 전체 페이지 기본 세팅 값 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    scrollbar-width: none;
}

/* text 기본 세팅 값 */
.textSetting {
    text-decoration: none;
    color: #181F29;
}

/* header 기본 세팅 */
.mainHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
}

.mainHeader ul {
    list-style: none;
    display: flex;
    margin-right: 12px;
}

.mainHeader ul li {
    margin: 0px 10px;
    display: flex;
    cursor: pointer;
}

/* header 이미지 */
.logoImg {
    height: 28px;
    margin-left: 20px;
}

.chattingImg {
    height: 20px;
}

.bellImg {
    height: 24px;
}

.profileImg {
    height: 32px;
}

/* header li */
.logoButton {
    display: flex;
    align-items: center;
}

.chattingButton {
    display: flex;
    align-items: center;
}

.bellButton {
    display: flex;
    align-items: center;
}

.profileButton {
    display: flex;
    align-items: center;
}

/* main_header search 기본 세팅 */
.headerSearch {
    width: 30%;
    height: 36px;
    background-color: #F6F6F6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.searchImg {
    height: 20px;
    margin-left: 16px;
}

.headerSearchInput {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    background-color: #F6F6F6;
    font-size: 16px;
    margin-left: 12px;
    box-sizing: border-box;
    border-radius: 50px;
    padding-right: 10px;
}

/* main_header 버튼 */
.signupButton {
    color: #181F29;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}

.loginButton {
    color: #181F29;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}