/* 전체 페이지 기본 세팅 값 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    scrollbar-width: none;
}

/* side_bar 기본 세팅 */
.side_bar {
    width: 250px;
    height: 93.8vh;
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
}

.button_hover:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: #f2f9ff;
    color: #4A85FF;
}

.button_hover:hover .icon {
    color: #4A85FF;
}

.button_hover:hover .plus_text {
    font-weight: 600;
}

#minus_div {
    width: 100%;
    display: flex;
    justify-content: end;
}

#minus_img {
    margin: 8px 16px 8px 16px;
    cursor: pointer;
}

#plus_div {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 0px;
    border-radius: 8px 0px 0px 8px;
    margin-left: 20px;
}

#plus_img {
    margin: 0px 6px
}

.plus_text {
    font-weight: 500;
}

.line {
    width: calc(100% - 40px);
    height: 2px;
    background-color: #E0E0E0;
    margin-top: 11px;
    align-items: center;
}

.project_text {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
}

.my_project {
    width: 100%;
    height: 50%;
    margin-top: 12px;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.project_item {
    width: calc(100% - 48px);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 4px 0px 4px 24px;
    margin: 0px 12px 4px 12px;
}

.project_item:hover {
    background-color: #f2f9ff;
    cursor: pointer;
}

.project_div {
    height: 38px;
    background-color: #f5f5f5;
}

.project_gradation {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4A85FF, #28E2E5);
}

.project_white {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.project_icon {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.project_info {
    margin-left: 8px;
}

.project_name {
    font-weight: 600;
}

.project_owner {
    font-size: 12px;
    color: #757B8A;
    font-weight: 360;
}

.setting {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
}

.darkmode {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
}

.rule1 {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
}

.rule2 {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
}

.logout {
    width: calc(100% - 50px);
    font-weight: 600;
    margin-top: 16px;
    justify-self: end;
}