.container {
    width: 250px;
    height: calc(100% - 3.75rem);
    background-color: #FFFFFF;
    border-right: 1px solid #E7E7E7;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}