main {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    min-width: 550px;
    overflow-y: scroll;
}

.calendar {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}