.container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2rem;
    font-weight: 800;

    /* 텍스트 그라데이션 */
    background-image: linear-gradient(to right, #4A85FF 0%, #181F29 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #181F29;
}

.input {
    width: 31.5625rem;
    height: 2.5rem;
    background-color: #F5F5F5;
    color: #181F29;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1rem;
    font-weight: 500;
}

/* 자동완성 시 배경색 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0rem 62.5rem #F5F5F5 inset;
}

.input:hover {
    border-bottom: 1px solid #4A85FF;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid #4A85FF;
}

.buttonInput {
    width: 25.3125rem;
}

.button {
    width: 6.25rem;
    height: 2rem;
    margin-left: 0.5rem;
    background-color: #FFFFFF;
    color: #181F29;
    border: 1px solid #4A85FF;
    border-radius: 62.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background-color: #4A85FF;
    color: #FFFFFF;
}

.button:active {
    background-color: #3a6edb;
    border-color: #3a6edb;
    color: #FFFFFF;
}

.input::placeholder {
    color: #999999;
    font-weight: 400;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 0.1rem;
}

.submit {
    width: 31.5625rem;
    height: 3.5rem;
    background-color: #4A85FF;
    color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.6rem;
}

.submit:active {
    background-color: #3a6edb;
}

.signInPrompt {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #181F29;
}

.signInLink {
    color: #4A85FF;
    text-decoration: none;
    margin-left: 0.25rem;
}

.timerText {
    font-size: 0.9rem;
    font-weight: 500;
    color: #FF4A4A;
    margin-top: 0.5rem;
    padding-left: 0.2rem;
    display: flex;
    justify-content: left;
}