body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.topbar {
  grid-area: topbar;
}

.leftSidebar {
  grid-area: left;
}

main {
  grid-area: main;
}

.rightSidebar {
  grid-area: right;
}

.tooltip {
  background-color: aliceblue;
}

img {
  -webkit-user-drag: none;
}
