table {
    width: 90%;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border-bottom: 1px solid #BFD4FF;
    padding: 10px 0px;
}

.forScroll {
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px; 
    font-size: 0.9rem;
    font-weight: 700;
}

td {
    border-right: 1px solid #BFD4FF;
    border-top: 1px solid #BFD4FF;
    padding: 0; 
    vertical-align: top;
    cursor: pointer;
}

td:last-child {
    border-right: 0px solid black;
}

.tooltip {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 200px;
    word-break: break-word; 
}
  

.tooltip::after {
    display: none !important;
}